<div class="jumbotron">
  <h1>What is this ?</h1>
  <p class="lead">
    Angular JS, REST and Ruby on Rails in decoupled bliss
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/article-list">See it</a></p>
</div>

<div class="row marketing">
  <h3>Code Challenge</h3>
  <p>This is a minimalistic blog made in a hurry using Angular JS coupled to Ruby on Rails using a REST interface.
  It shows how authentication can work across the REST api using simple token authentication and Devise.
  </p>
  <p>The code is available on github at <a href="https://github.com/guy-roberts/code-challenge" target="Github code">https://github.com/guy-roberts/code-challenge</a>
    and I've written up  <a href="http://blog.guyroberts.co.uk/?p=3230" target="Notes">some notes on my own blog</a>.
  </p>
</div>
